body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container{
    background-color: rgb(7, 7, 44);
    border: 2px solid black;
    border-radius: 5%;
}
.calculator {
    width: 250px;
    text-align: center;
}

.display {
    font-size: 24px;
    background-color: #f0f0f0;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    margin: 5%;
    border-radius: 8%;
    border: 2px solid black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    margin: 3%;
}

button {
    font-size: 20px;
    height: 50px;
}
